.my-card{
    border-bottom: 1px solid #BBB;
    padding: 1em;
    box-shadow: rgba(48, 82, 82, .3) 0px 3px 8px;
    background-color: white;
}

.my-card .post-delete{
    cursor: pointer;
}

.my-card .my-card-title {
    margin-bottom: 0
}
.my-card .my-card-title a{
    color: rgba(48, 82, 82, 1);
}
.my-card .my-card-title a:hover{
    text-decoration-color: rgba(48, 82, 82, 1);
}

.my-card .my-card-author{
    color: #666;
    margin-bottom: .5em;
}
.my-card .my-card-content{
    color: #444;
}

.my-card .my-card-image{
    margin-top: 1em;
    max-height: 280px;
    display: flex;
}

.my-card .my-card-image img{
    max-height: 100%;
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover;
}
