.my-card{
    border-bottom: 1px solid #BBB;
    padding: 1em;
    box-shadow: rgba(48, 82, 82, .3) 0px 3px 8px;
    background-color: white;
}

.my-card .post-delete{
    cursor: pointer;
}

.my-card .my-card-title{
    color: rgba(48, 82, 82, 1);
    margin-bottom: 0
}

.my-card .my-card-author{
    color: #666;
    margin-bottom: .5em;
}
.my-card .my-card-content{
    color: #444;
}

.my-card .my-card-image{
    margin-top: 1em;
    max-height: 280px;
}

.my-card .my-card-image img{
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover;
}
